body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2f3640;
}

.box {
	width: 1000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	background: #2f3640;
	cursor: pointer;
}


#pinkboard {
	position: relative;
	margin: auto;
	height: 750px;
	width: 750px;
	animation: animate 5s infinite ;
}

#pinkboard:before, #pinkboard:after {
	content: '';
	position: absolute;
	background: #2f3640;
	width: 100px;
	height: 160px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

#pinkboard:before {
	left: 100px;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
				0 10px 10px rgba(0,0,0,0.22);
}

#pinkboard:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}
.img-em {

	background-position: center;
	background-repeat: no-repeat;
	z-index: 1000;
	position: absolute;
	left: 0;
	width: 300px;
	display: none;
	/* opacity: 0.1; */
}
.img-anh {
	/* background-image: url('./em.jpeg.jpg'); */
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1000;
	position: absolute;
	right: 0;
	width: 300px;
	height: 530px;
	display: none;
	background: #2f3640;
}
.title {
	z-index: 1000;
	position: absolute;
	top: 0;
	font-size: 3rem;
	color: #f5f6fa;
	display: none;
}
@keyframes animate {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(.8);
	}
	60% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

#text {
	z-index: 1000;
	font-size: 6rem;
	color: #f5f6fa;
	position: absolute;
	bottom: 0;
	display: none;
}
.on {
	z-index: 1000;
	position: absolute;
	top: 0;
	font-size: 3rem;
	color: #f5f6fa;
	left: 20px;
	cursor: pointer;
	
}
.off {
	z-index: 1000;
	position: absolute;
	top: 0;
	font-size: 3rem;
	color: #718093;
	left: 140px;
	cursor: pointer;
}
.cheMat {
	z-index: 1000;
	position: absolute;
	top: 0;
	font-size: 3rem;
	color: #718093;
	right: 20px;
	cursor: pointer;
	display: none;
}
.khongChe {
	z-index: 1000;
	position: absolute;
	top: 0;
	font-size: 3rem;
	color: #718093;
	right: 20px;
	cursor: pointer;
	display: none;
}
.love {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 3rem;
	color: #44bd32;
	right: 20px;
	cursor: pointer;
	display: none;
}
.noLove {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 3rem;
	color: #718093;
	right: 20px;
	cursor: pointer;
	display: none;
}